<div class="row">
    <div class="col mb-3" *ngIf="model$ | async as Model">
        <label class="form-label">Campaña a enviar</label>
        <select class="form-select" [(ngModel)]="campaignSelected">
            <option *ngFor="let campaign of Model.campaigns" 
                     [value]="campaign.Id"
            >
              {{ campaign.Name }}
            </option>
        </select>
    </div>
    <div class="col mb-3">
        <label class="form-label">Cargar Archivo Excel</label>
        <input class="form-control" 
               (change)="onFileChange($event)"
               #fileText
               type="file"
               accept=".xlsx, .xls"
               multiple="false">
    </div>
</div>
<div class="alert alert-danger" *ngIf="data.length == 0">
    No hay datos que mostrar
</div>
<div *ngIf="data.length > 0" style="height: 400px; overflow: auto;">
    <table class="table">
        <thead>
          <tr>
            <th class="table-dark">Nombre</th>
            <th class="table-dark">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td>{{ item.Nombre }}</td>
            <td>{{ item.Email }}</td>
          </tr>
        </tbody>
      </table>
</div>
<button *ngIf="data.length > 0 && !(modelUi$ | async).loading" 
         type="button"
         class="btn btn-outline-primary mt-2 float-end"
         (click)="sendEmails()"
>
    <i class="fas fa-envelope"></i>
    Enviar Correos
</button>

<button type="button"
    *ngIf="data.length > 0 && (modelUi$ | async).loading" 
    disabled
    class="btn btn-outline-primary mt-2 float-end"
>
    <i class="fas fa-spinner fa-spin"></i>
    Enviando correos, por favor espere....
</button>